#topA {
    background-image: url('imgs/leftPanel2.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 25% 100%; 
}

#topB {
    background-image: url('imgs/desk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 60% 110%; /* cover; */
    background-position: center; 
}

#topC {
    background-image: url('imgs/rightPanel.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 25% 100%; 
    color: #00a;
}

