/* Lab 03
 * 040552420
 * Jordan Passant
 /

/* All elements center-aligned
   (universal selector) */

* { text-align: center; }

/* Form label font effects
   (selector by attribute) */

label[for="name"] { font-size: 20px; font-weight: bold; }
label[for="dob"] { font-size: 20px; font-weight: bold; }
label[for="email"] { font-size: 20px; font-weight: bold; }
label[for="city"] { font-size: 20px; font-weight: bold; } 
label[for="province"] { font-size: 20px; font-weight: bold; }

/* Text-fields, date/province selects 
   (Selector by ID)*/

#name,#dob,#email,#city,#dob,#province
{
  display: block;  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 15%;  
}

/* #Province selection given extra width
   for symmetry
   (ID selector)*/

#province { width: 15.5%; } 

/* Buttons grouped as single-line set
   (ID selector) */

#reset
{  
  display: inline-block;
  margin-left: auto;  
  margin-right: auto; 
  width: 7.5%;
}
#submit
{  
  display: inline-block;
  margin-left: auto;  
  margin-right: auto; 
  width: 7.5%;
}